.inputWrap {
  position: relative;
  display: grid;
  padding-inline-start: calc(2.5rem + 1ch);
  padding-inline-end: 0.75rem;
  border: 1px solid color-mix(in srgb, black 15%, transparent);
  border-radius: 0.25rem;

  &:has(input:focus-visible) {
    outline: 1.5px solid var(--color-primary);
  }

  &:before {
    --swatch-size: 1.5rem;

    content: "";
    position: absolute;
    top: calc((var(--input-height) - var(--swatch-size)) / 2);
    left: calc((var(--input-height) - var(--swatch-size)) / 2);
    width: var(--swatch-size);
    height: var(--swatch-size);
    background: var(--swatch-color);
    border-radius: 100vmax;
  }

  &::after {
    content: "#";
    position: absolute;
    top: 50%;
    left: 2.5rem;
    translate: 0 -50%;
  }
}

.input {
  height: var(--input-height);

  text-transform: uppercase;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.0125em;

  &:focus-visible {
    outline: none;
  }
}
