.form {
  --number-input-w: 5.5rem;

  display: grid;
  grid-template-columns: 1fr var(--number-input-w);
}

.label {
  text-transform: capitalize;
}

.input {
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
