.grid {
  /* flex-grow: 1; */
  isolation: isolate;

  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    var(--color-primary-lighter) 0%,
    var(--color-primary-medium) 50%,
    var(--color-primary-darker) 100%
  );
  transition: background 500ms var(--ease-out-3, ease-out);
}
