.main {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100svh;

  @media (min-width: 560px) {
    grid-template-rows: unset;
    grid-template-columns: 320px 1fr;
  }

  @media (min-width: 800px) {
    grid-template-columns: 400px 1fr;
  }
}
