.controller {
  display: grid;
  gap: 0.5rem;
}

.hue {
  --track-background: linear-gradient(
    to right in oklch longer hue,
    oklch(70% 0.3 0) 0%,
    oklch(70% 0.3 0) 100%
  );
}

.sat {
  --track-background: linear-gradient(
    to right,
    var(--color-primary-desaturated),
    var(--color-primary-saturated) 80%
  );
}

.lit {
  --track-background: linear-gradient(
    to right,
    var(--color-primary-darker),
    var(--color-primary-medium) 50%,
    var(--color-primary-lighter-desaturated)
  );
}
