.formGroup {
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.inputGroup {
  height: var(--input-height);
  display: grid;
  grid-column: 3 / 4;
  grid-template-columns: 1.75rem 3.5rem 1.75rem;
  border: 1px solid color-mix(in srgb, black 15%, transparent);
  border-radius: 0.25rem;
}

.input {
  border-left: 1px solid color-mix(in srgb, black 15%, transparent);
  border-right: 1px solid color-mix(in srgb, black 15%, transparent);
  border-radius: 0;
  text-align: center;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.1em;

  &:focus-visible {
    outline: 1.5px solid var(--color-primary);
  }
}

.button {
  --br: calc(0.25rem - 1px);

  transition: background 200ms var(--ease-out-3, ease-out);

  &:first-of-type {
    border-radius: var(--br) 0 0 var(--br);
  }

  &:last-of-type {
    border-radius: 0 var(--br) var(--br) 0;
  }

  &:hover {
    background: var(--color-primary-lighter);
  }
}
